/* Eléments principaux de la page */
body
{
    font-family: 'Roboto',sans-serif;
    color: black;
}

h1
{
    font-family: 'Shrikhand',sans-serif;
    color: black;
}

.bloc_page
{
    margin-left: 5%;
    margin-right: 5%;
}

/* Header */
header 
{
    display: flex;   
}

.fa-arrow-left
{
    height: 100px;
    width: 100px;
    padding-top: 25px;
}

/*Image et titre du menu*/
.img_title
{
    padding-right: 100px;
}

figure
{
    width: 100%;
}

figure img
{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

figcaption
{
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
}

.fa-heart
{
    height: 50px;
    width: 50px;
    padding-top: 25px;
}

/*Menu*/
.menu_title
{
    display: block;
}

.menu_title:after {
    display: block;
    clear: both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    max-width: 250px;
    height  : 3px;
    width   : 50px;
    border-bottom: 3px solid #99E2D0;
}

.food_choice
{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 1px 1px 10px gray;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.price
{
    padding-top: 10px;
}

.fa-check-circle
{
    visibility: collapse;
    color: white;
    background-color: #99E2D0;
    padding: 10px 10px 10px 10px;
    margin: 0;
}

/*Boutton commander*/
.button_order
{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 55px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    margin-left: 40%;
    margin-top: 40px;
}

.button_order, input:hover
{
    cursor: pointer;
}

input
{
    background-color: transparent;
    border-radius: 50px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
}

/*Footer*/
footer
{
    background-color: #353535;
    color: white;
}

.footer_title
{
    color: white;
    padding-left: 25px;
    padding-top: 10px;
}

ul
{
    list-style-type: none;
    padding-bottom: 10px;
}

li
{
    padding-bottom: 5px;
}